.inputLabel {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > button {
        width: 30px;
        height: 30px;
        display: flex;
        text-align: center;
        justify-content: center;
    }
}
