{% block sw_cms_block_shop_by_color %}

    <div class="row d-flex">

        <div class="col-2">
            <div class="card">
                <div class="card-img">
                    <slot name="image1"></slot>
                </div>
                <div class="card-title ">
                    <slot name="text1"></slot>
                    <slot name="text7"></slot>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card">
                <div class="card-img">
                    <slot name="image2"></slot>
                </div>
                <div class="card-title ">
                    <slot name="text2"></slot>
                    <slot name="text8"></slot>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card">
                <div class="card-img">
                    <slot name="image3"></slot>
                </div>
                <div class="card-title ">
                    <slot name="text3"></slot>
                    <slot name="text9"></slot>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card">
                <div class="card-img">
                    <slot name="image4"></slot>
                </div>
                <div class="card-title ">
                    <slot name="text4"></slot>
                    <slot name="text10"></slot>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card">
                <div class="card-img">
                    <slot name="image5"></slot>
                </div>
                <div class="card-title d-felx">
                    <slot name="text5"></slot>
                    <slot name="text11"></slot>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card">
                <div class="card-img">
                    <slot name="image6"></slot>
                </div>
                <div class="card-title ">
                    <slot name="text6"></slot>
                    <slot name="text12"></slot>
                </div>
            </div>
        </div>

    </div>

{% endblock %}