{% block blog_category_list %}

<sw-page class="blog-category-list">

    {% block blog_author_list_smart_bar_actions %}
        <template #smart-bar-actions>
            <sw-button
                variant="primary"
                :routerLink="{ name: 'blog.category.create' }">
                {{ $tc('global.default.new') }}
            </sw-button>
        </template>
    {% endblock %}

    <template #content>

        <div class="item_row">

            <div class="side_nav">
                <ul>
                    <li><a class="link" href="#/blog/post/list">Blog</a></li>
                    <li><a class="link" href="#/blog/author/list">Autor</a></li>
                    <li><a class="activeLink" href="#/blog/category/list">Category</a></li>
                </ul>
            </div>
            <div class="col-10">
                <sw-data-grid
                    :dataSource="items"
                    :columns="columns"
                    :showSelection="false"
                    >

                    <template #actions="{ item }">
                        <sw-context-menu-item @click="onEditItem(item)">Edit</sw-context-menu-item>
                        <sw-context-menu-item @click="categoryId = item.id; confirmModal = !confirmModal">Delete</sw-context-menu-item>
                    </template>
                </sw-data-grid>
                <!-- Pagination Controls -->
                <sw-pagination
                    :currentPage="page"
                    :total="total"
                    :limit="limit"
                    @page-change="onPageChange"
                />
            </div>
        </div>
    </template>
        
</sw-page>
<sw-confirm-modal
    v-if="confirmModal"
    class="sw-my-component__confirm-delete-modal"
    type="delete"
    :text="'Are you sure you want to delete this?'"
    @confirm="onDeleteItem()"
    @close="confirmModal = !confirmModal"
    @cancel="confirmModal = !confirmModal">
</sw-confirm-modal>
{% endblock %}