{% block sw_cms_block_latest_blogs %}
<div class="container latestBlogs py-5" id="">

    {% sw_include "@Gdn/storefront/utilities/section-title.html.twig" with { title: "Our Latest Blogs" } %}


    <div class="latestBlogItems">
        
    </div>
</div>
{% endblock %}
