{% block sw_cms_block_latest_blogs %}
<div class="container latestBlogs py-5" id="">
    <h2 class="text-center mb-0">Latest Blogs</h2>
    <div class="latestBlogItems">
        
    </div>
</div>
{% endblock %}

